@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
  --green:#0c7216;
}

*{
  font-family: 'Roboto', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none; border:none;
  text-decoration: none;
  transition: all .2s linear;
}

*::selection{
  background:var(--green);
  color:#fff;
}

html{
  font-size: 50.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

.heading{
  font-size: 3rem;
  color:#444;
  padding-left: 1rem;
  border-left: .4rem solid var(--green);
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.callEmail {
  margin-left: 20px;
}


.share {
    display: flex;
    align-items:center;
    justify-content: center;
}
.btn{
  display: inline-block;
  margin-top: 1rem;
  padding:.8rem 3rem;
  background:var(--green);
  color:#fff;
  font-size: 1.7rem;
  cursor: pointer;
}

.btn:hover{
  background:#333;
}


.header-1,
.header-2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
  background:var(--green);
}

.header-1{
  border-bottom: .1rem solid rgba(255, 255, 255, 0.096);
}

.header-3{
  background:#fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  position: relative;
  z-index: 10000;
}

.header-1 span{
  font-weight: lighter;
  color:#fff;
  font-size: 1.7rem;
}

.header-1 a{
  padding:0 .7rem;
  color:#fff;
  font-size: 1.8rem;
}

.header-1 a:hover{
  color:rgb(231, 231, 22);
}

.header-2 {
  font-weight: bolder;
  font-size: 3rem;
  color:#fff;
}

.header-2 {
  color:rgb(219, 219, 23);
}

.header-2 .search-bar-container{
  display: flex;
  align-items: center;
  width: 50rem;
  padding:1.5rem;
  background:rgba(255, 255, 255, 0.103);
  border-radius: .5rem;
}

.header-2 .search-bar-container #search-bar{
  width: 100%;
  background:none;
  text-transform: none;
  color:#fff;
  font-size: 1.7rem;
}

.header-2 .search-bar-container #search-bar::placeholder{
  text-transform: capitalize;
  color:#ddd;
}

.header-2 .search-bar-container label{
  color:#fff;
  cursor: pointer;
  font-size: 2rem;
  padding:0 .5rem;
}

.header-2 .search-bar-container label:hover{
  color:yellow;
}
.navbar a{
  color:#fff;
  cursor: pointer;
  font-size: 2rem;
  padding:0 .5rem;
}

.navbar a:hover {
    color:yellow;
}

.menu-bar {
  display: none;
}

.logoImage{
  width: 70px;
  height: 70px;
  border-radius:50px;
}


/* slide image section start */
.mySlides {
  display: none
}
.sliderImage {
  vertical-align: middle;
}
/* Slideshow container */
.slideshow-container {
  max-width: 100%px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(5, 5, 5);
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(80, 219, 52, 0.8);
}

/* Caption text */
.text {
  color: #58e945;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}



@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* slide image section start */




/* categories section start */
.categories {
  display: flex;
  font-size: 50px;
  align-items:center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.category .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  width: 90%;
  margin: 0 auto;
}

.category .box-container .box{
  position: relative;
  flex:1 1 23rem;
  height: 35rem;
  overflow: hidden;
  border:.1rem solid rgba(0,0,0,.3);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.category .box-container .box img{
  height: 100%;
  width:100%;
  object-fit: cover;
}

.category .box-container .box .content{
  position: absolute;
  bottom: -5.5rem;
  background: #fff;
  border-top:.1rem solid rgba(0,0,0,.3);
  text-align: center;
  padding:.5rem 0;
  width:100%;
}

.category .box-container .box:hover .content{
  bottom:0;
}

.category .box-container .box .content h3{
  color:#333;
  font-size: 2.5rem;
  padding:.5rem 0;
}

.category .box-container .box .content .btn{
  margin-bottom: 1.3rem;
}




.featuredPlants {
  display: flex;
  font-size: 50px;
  align-items:center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* categories section end */

